@charset UTF-8;

* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #10ABB4, #00939C);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #004c50c0; 
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #004C50;
    text-align: center;
    text-shadow: 1px 1px 2px #002c2e8e;
}

h2{
    color: #9C3E00;
}

p{
    text-align: justify;
}